.header {
    grid-area: h;
    width: 100%;
    background-color: greenyellow;
  }
  
  
  .header img {
    width: 250px;
    height: 119px;
    border-radius: 15px;
    border: 1px solid  greenyellow;
  
  }
  