.nav {
    grid-area: n;
    font-size: 30px;
    background-color: snow ;
    min-height: 200px;
    max-height: 400px;
  }
  
  .item  {
    padding: 10px 0px 10px 25px;
  }

  a {
    text-decoration: none;
    color: forestgreen;
  }
  
  a:hover {
    position: relative;
    bottom: 5px;
    color: aquamarine;
  }
  
a.active {
  color: aquamarine;
}

.friends {
  grid-area: n;
  padding: 10px 0px 10px 25px;
  font-size: 30px;
}
  