.app-wrapper {
  display: grid;

  max-width: 1200px;
  min-width: 320px;
  height: 1120px;

  
  margin-left: auto;
  margin-right: auto;


  grid-template-areas: 
  "h h"
  "n c " ;

  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;

  background: url(./img/rubick.jpg)  0 0/cover no-repeat; 
  
}

.app-wrapper-content {
    grid-area: c;
  
}







