.app-wrapper {
  display: grid;

  width: 1200px;
  height: 1120px;


  grid-template-areas: 
  "h h"
  "n c " ;

  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;

  background: url(./img/rubick.jpg)  170px 0/cover no-repeat;  
}





